{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Log in {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mt-5">
                <div class="card-header">
                    Sign in
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="POST" role="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p class="text-center"><a href="{% url 'register' %}" class="nav-link active">Create account</a></p>
                        <button type="submit" class="btn btn-block btn-primary">Log in</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}