{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Account {% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-3">

            <div class="card bg-light">
                <img class="card-img-top" src="{{ user.userprofile.photo.url }}" alt="Card image cap">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Account</li>
                    <li class="list-group-item"><span class="text-left"><strong>Username</strong>
                        <span class="text-right">{{ user.username }}</span>
                    </span>

                    <li class="list-group-item"><span class="text-left"><strong>Email</strong>
                        <span class="text-right"> {{ user.email }}</span>
                    </span>
                    </li>
                </ul>
            </div>


            <br>
        </div>
        <div class="col-9">
            <form enctype="multipart/form-data" action="{% url 'save_profile' id %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-block btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}