{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Sign up {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mt-5">
                <div class="card-header">
                    Sign up
                </div>
                <div class="card-body">
                    <form action="{% url 'register' %}" method="POST" role="form">
                        {%  csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}