body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag-card {
  height: auto;
  width: 500px;
  min-height: fit-content;
}

.author-card {
  height: auto;
  width: 1000px;
  min-height: fit-content;
}

.news-card {
  width: stretch;
  min-height: fit-content;
}

.create-tag-form {
  margin-top: 130px;
}

.news-full-card {
  width: stretch;
  background-color: #0091ea;
  border-radius: 10px;
  padding-bottom: 50px;
}

.news-full-card-title {
  align-content: center;
}

.news_textfield {
  background-color: lightblue;
  width: stretch;
  padding: 10px;
  border-radius: 10px;
}


.last {
  padding-top: 20px;
  padding-bottom: 50px;
}

.news-button {
  padding-left: 20px;
  padding-right: 20px;
}

.news-title-input {
  font-size: 30px;
  color: black;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}