{% extends "base.html" %}

{% block title %} Authors {% endblock %}

{% block content %}
    <div class="row mt-3">
        <h2>Authors</h2>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <div class="card mt-3">
                <div class="card-header">
                    Create author
                </div>
                <div class="card-body">
                    <form action={% url 'create_author' %} method="POST" role="form">
                        {%  csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                {% for author in authors %}
                    <div class="col-4">
                        <div class="card bg-light text- mt-3 ml-3">
                            <div class="card-header">
                                Author {{ author.id }}
                            </div>
                            <div class="card-body">
                                <div class="card-subtitle">
                                    {{author.first_name}} {{author.last_name}}
                                </div>
                                <a class="card-link" href={% url 'read_author' author.id %}>Edit</a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}