{% extends "base.html" %}

{% block title %} Author {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mt-5">
                <div class="card-header">
                    Author
                </div>
                <div class="card-body">
                    <form action={% url 'update_author' id %} method="POST" role="form">
                        {%  csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>

                        {% endfor %}
                        <button type="submit" class="btn btn-block btn-primary">Save</button>
                    </form>
                    <form action={% url 'delete_author' id %}>
                        <button type="submit" class="btn btn-block btn-danger mt-2">Delete</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}