<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% load static %}

    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.css" %} />
    <link rel="icon" href="/media/news-512.png" />

    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        {% block navbar %}
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="navbar-brand mb-0 h1">
                            News manager
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'news' %}" class="nav-link">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'authors' %}" class="nav-link">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tags' %}" class="nav-link">Tags</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link">Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Log in</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        {% endblock %}
    </nav>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src={% static "bootstrap/js/bootstrap.js" %}></script>
</body>

</html>