{% extends "base.html" %}

{% load tz %}

{% block title %} News {% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-4">
            <h2>News</h2>

        </div>
        <div class="col-2">
            <a class="btn btn-block btn-primary" href="{% url 'get_create_news_page' %}">Create</a>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                {% for news in news_list %}
                    <div class="col-12">
                        <div class="card bg-light text- mt-3 ml-3">
                            <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">

                            <h5 class="card-header">
                                News {{ news.id }}
                            </h5>
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{ news.title }}
                                </h4>

                                <p class="card-text">{{ news.short_text }}</p>
                                <a href="{% url 'read_news' news.id %}">View</a>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}