{% extends 'base.html' %}

{% load tz %}

{% block title %} {{ news.title }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="card bg-light mt-2">
            <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Author:</b> {{ news.author.first_name }} {{ news.author.last_name }}</li>
                <li class="list-group-item"><b>Created:</b> {{ news.created_date_time|localtime }}</li>
                <li class="list-group-item"><b>Edited:</b> {{ news.edited_date_time|localtime }}</li>
                <li class="list-group-item"><b>Tags:</b>
                    {% for tag in news.tags.all %}
                        <span class="badge badge-primary">{{ tag }}</span>
                    {% endfor %}
                </li>
            </ul>

            <div class="card-body">
                <h5 class="card-title">
                    {{ news.title }}
                </h5>

                <p class="card-text">{{ news.full_text }}</p>

                <a class="card-link" href="{% url 'get_update_news_page' news.id %}">Edit</a>
                <a class="card-link" href="{% url 'delete_news' news.id %}">Delete</a>
            </div>


        </div>
    </div>

{% endblock %}