{% extends 'base.html' %}

{% block title %} Create news {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div class="card bg-light mt-3">
                <div class="card-header">Create news</div>
                <div class="card-body">
                    <form enctype="multipart/form-data" method="post" action="{% url 'create_news' %}" >
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>

                        <div class="form-group">
                            {{ form.short_text.label_tag }}
                            {{ form.short_text }}
                        </div>

                        <div class="form-group">
                            {{ form.full_text.label_tag }}
                            {{ form.full_text }}
                        </div>

                        <div class="form-group">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                        </div>

                        <div class="form-group">
                            {{ form.author.label_tag }}
                            {{ form.author }}
                        </div>
                        <label>Tags</label>
                            <div class="form-group">
                            {% for value, visual in form.fields.tags.choices %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value={{ value }}
                                            name="tags" id="id_tags_{{ value }}">
                                    <label class="form-check-label" for="id_tags_{{ value }}">
                                        {{ visual }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Submit</button>

                    </form>
                </div>
            </div>



        </div>

        <div class="col-2">
        </div>
    </div>

{% endblock %}