{% extends "base.html" %}

{% block title %} Tags {% endblock %}

{% block content %}
    <div class="row mt-3">
        <h2>Tags</h2>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <div class="card mt-3">
                <div class="card-header">
                    Create tag
                </div>
                <div class="card-body">
                    <form action="{% url 'create_tag' %}" method="POST" role="form">
                        {%  csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>

                        {% endfor %}
                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                {% for tag in tags %}
                    <div class="col-3">
                        <div class="card bg-light mt-3 ml-3">
                            <div class="card-header">
                                Tag {{ tag.id }}
                            </div>
                            <div class="card-body">
                                <div class="card-subtitle">
                                    {{ tag.name }}
                                </div>
                                <a class="card-link" href={% url 'read_tag' tag.id %}>Edit</a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}